<div [ngClass]="{'hidden':!solicitudEnviada}" class="w-1/2 mx-auto p-2 mt-10">
  <h1 class="text-center font-semibold text-4xl"> Gracias por enviar su solicitud </h1>
  <h2 class="text-gray-600 text-center mt-2"> Pronto nos comunicaremos con usted </h2>
  <img src="assets/svg/solicitudCompletada.svg" class="w-1/2 mx-auto mt-4" alt="Solicitud completada">
  <div class="flex items-center justify-center mt-4">
    <button (click)="regresarFormulario()" class="p-2 bg-primaryColor hover:opacity-90 mt-4 rounded text-white w-max">
      Continuar
    </button>
  </div>
</div>


<div [ngClass]="{'hidden':solicitudEnviada}" class="w-1/2 mx-auto p-2 mt-4">

  <!-- Encabezado -->
  <h1 class="text-3xl text-center font-semibold"> Solicitud de asistencia </h1>

  <!-- Cuerpo de la solicitud -->
  <div class="text-sm">
    <!-- <div *ngIf="authService.usuario.role !== 'USER_ROLE'" class="mt-3">
      <p class="font-semibold"> <span class="text-red-500"> * </span> Usuario </p>
      <select [(ngModel)]="solicitudForm.usuarioId" class="input-generico w-full mt-2">
        <option value=""> Seleccionar usuario </option>
        <option *ngFor="let usuario of usuarios" [value]="usuario.id"> {{ usuario.apellido }} {{ usuario.nombre }} </option>
      </select>
    </div> -->
    <div>

      <!-- Busqueda de usuarios -->
      <div class="flex items-center">
        <p *ngIf="authService.usuario.role !== 'USER_ROLE'" class="font-semibold mt-6"> <span class="text-red-500"> * </span>
          Usuario solicitante </p>
        <span *ngIf="buscandoUsuarios" class="text-primaryColor ml-2 animate-spin">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
          </svg>
        </span>
      </div>

      <div [ngClass]="{'hidden':usuarioSeleccionado || authService.usuario.role === 'USER_ROLE'}">
        <input [ngClass]="{'bg-fuchsia-300 text-gray-700':buscandoUsuarios}" #buscadorUsuarios
          [(ngModel)]="filtroUsuarios.parametro" placeholder="DNI o Nombre de usuario" type="text"
          class="input-generico w-full mt-2">
      </div>

      <!-- Lista desplegable -->
      <div *ngIf="usuarios.length > 0 && filtroUsuarios.parametro !== ''"
        class="w-96 text-sm border mt-1 border-gray-400 bg-white z-10 fixed">
        <div class="flex items-center justify-between p-2 border-b border-gray-400">
          <p class="font-semibold"> Listado de usuarios </p>
          <button (click)="usuarios = []">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="max-h-64 overflow-y-auto">
          <div (click)="seleccionarUsuario(usuario)"
            class="p-2 border-b-2 flex items-center cursor-pointer hover:bg-slate-100" *ngFor="let usuario of usuarios">
            <img src="assets/svg/usuario.svg" class="w-10" alt="Usuario">
            <div class="ml-3">
              <p class="font-semibold"> {{ usuario.apellido }} {{ usuario.nombre }} </p>
              <p class="text-xs text-gray-700"> DNI {{ usuario.dni }} </p>
              <p class="text-xs text-gray-700"> {{ usuario.UsuariosDependencias[0] ?
                usuario.UsuariosDependencias[0].dependencia.nombre : 'Sin dependencia' }} </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Usuario seleccionado -->
      <div class="mt-2 border border-gray-400" *ngIf="usuarioSeleccionado">
        <div class="flex items-center border-l-8 border-secondaryColor justify-between py-4 px-2">
          <div class="flex items-center">
            <img src="assets/svg/usuario.svg" class="w-12" alt="Usuario">
            <div class="ml-3">
              <p class="font-semibold"> {{ usuarioSeleccionado.apellido }} {{ usuarioSeleccionado.nombre }} </p>
              <p class="text-xs text-gray-600"> DNI {{ usuarioSeleccionado.dni }} </p>
              <p class="text-xs text-gray-700"> {{ usuarioSeleccionado.UsuariosDependencias[0] ?
                usuarioSeleccionado.UsuariosDependencias[0].dependencia.nombre : 'Sin dependencia' }} </p>
            </div>
          </div>
          <button title="Eliminar usuario" (click)="eliminarUsuario()"
            class="border border-red-500 bg-red-100 p-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>

    </div>
    <div class="mt-6">
      <p class="font-semibold"> <span class="text-red-700"> * </span> Telefono de contacto </p>
      <input type="text" [(ngModel)]="solicitudForm.telefonoContacto" placeholder="Ej. 2664869642"
        class="input-generico w-full mt-2">
    </div>
    <div class="mt-6">
      <p class="font-semibold"> <span class="text-red-500"> * </span> Tipo de solicitud </p>
      <select [(ngModel)]="solicitudForm.tipoOrdenServicioId" class="input-generico w-full mt-2">
        <option value=""> Seleccionar tipo </option>
        <option *ngFor="let tipo of tiposOrdenServicio" [value]="tipo.id"> {{ tipo.descripcion }} </option>
      </select>
    </div>
    <div class="mt-6">
      <p class="font-semibold"> <span class="text-red-500"> * </span> Detalles del problema </p>
      <textarea [(ngModel)]="solicitudForm.observacionSolicitud" class="input-generico w-full mt-2"
        placeholder="Debe detallar su problema aquí"></textarea>
    </div>
    <button (click)="generarSolicitud()" class="w-full p-2 rounded bg-secondaryColor mt-6 text-white hover:opacity-90">
      Solicitar asistencia
    </button>
  </div>
</div>