<div class="flex bg-gray-100 h-screen justify-center">
  <div class="mt-10 gsap-contenido w-11/12 md:w-1/2 text-center">
    <h1 class="font-semibold text-2xl"> SOLICITUD DE ASISTENCIA </h1>
    <div class="text-sm mt-5">
      <select [(ngModel)]="ordenServicioForm.usuarioId" class="input-generico w-full">
        <option value=""> Usuario solicitante </option>
        <option *ngFor="let usuario of usuarios" [value]="usuario.id"> {{ usuario.apellido }} {{ usuario.nombre }} </option>
      </select>
      <select [(ngModel)]="ordenServicioForm.dependenciaId" class="input-generico w-full mt-4">
        <option value=""> Dependencia </option>
        <option *ngFor="let dependencia of dependencias" [value]="dependencia.id"> {{ dependencia.nombre }} </option>
      </select>
      <select [(ngModel)]="ordenServicioForm.tipoOrdenServicioId" class="input-generico w-full mt-4">
        <option value=""> Tipo de solicitud </option>
        <option *ngFor="let tipo of tiposOrdenes" [value]="tipo.id"> {{ tipo.descripcion }} </option>
      </select>
      <textarea [(ngModel)]="ordenServicioForm.observacionSolicitud" placeholder="Observaciones no obligatorias" class="w-full input-generico mt-4"></textarea>
      <button (click)="generarOrdenServicio()" class="boton-crear w-full mt-4">
        Generar solicitud
      </button>
    </div>
  </div>
</div>
