<div class="flex bg-gray-100 h-screen justify-center">
  <div class="mt-10 w-11/12 md:w-1/2 text-center">
    <h1 class="font-semibold text-2xl"> SOLICITUD DE ASISTENCIA </h1>
    <div class="text-sm mt-5">
      <select class="input-generico w-full">
        <option value=""> Usuario solicitante </option>
        <option value=""> Moreno Lucas Omar </option>
      </select>
      <select class="input-generico w-full mt-4">
        <option value=""> Dependencia </option>
        <option value=""> Hacienda </option>
      </select>
      <select class="input-generico w-full mt-4">
        <option value=""> Tipo de orden </option>
        <option value=""> Impresora </option>
        <option value=""> Mudanza </option>
        <option value=""> Cableado de red </option>
      </select>
      <textarea placeholder="Observaciones no obligatorias" class="w-full input-generico mt-4"></textarea>
      <button class="boton-crear w-full mt-4">
        Generar solicitud
      </button>
    </div>
  </div>
</div>
