<div class="border border-gray-400 w-2/3 mx-auto mt-6">
  <div class="bg-gray-900 w-full text-white p-3 flex items-center justify-between">
    <div class="flex items-center">
      <button title="Regresar" routerLink="/dashboard/ordenesServicio" class="hover:text-secondaryColor">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>      
      </button>
      <h1 class="ml-2"> Detalles de solicitud </h1>
    </div>
  </div>
  <div class="p-2">

  </div>
</div>